@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  list-style: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #2A2F2E;
  height: 8vh;
  position: relative;
  padding: 0 00px;
  /*estava 0 200px*/
  /*
    .teste{
        height: 50%;
        width: 100px;
        display: flex;
        align-items: center;
        background-color: teal;

        .teste2{
            background-color: #00A3A3;
            height: 4.5vh;
            border-radius: 50%;
            cursor: pointer;
        }
    }*/
}

nav .side-bar {
  background: red;
  /*rgba(255, 255, 255, 0.1)*/
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-transition: 0.6s case;
  transition: 0.6s case;
  -webkit-transition-property: left;
  transition-property: left;
  font-family: 'Times New Roman', Times, serif;
}

nav .side-bar .menu-sidebar {
  width: 100%;
  margin-top: 80px;
}

nav .side-bar .menu-sidebar .item {
  position: relative;
  cursor: pointer;
}

nav .side-bar .menu-sidebar .item a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

nav a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav a:hover {
  opacity: 0.9;
  /*Estava 0.6 originalmente*/
}

nav .logo {
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

nav .box-search {
  width: 400px;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .box-search #search {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  background-color: #161a19;
  border: none;
  padding-left: 15px;
  font-size: 1.2em;
}

nav .box-search #search:focus {
  outline: 0;
}

nav .box-search #search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

nav .box-search .botao-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #161a19;
  width: 40px;
  border-radius: 0 10px 10px 0;
}

nav .nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Para cada li ficar do lado do outro*/
  /*
        li{
            margin-left: 60px;
            letter-spacing: 2px;
            cursor: pointer;
        }*/
}

nav .nav-list .nav-link {
  position: relative;
  z-index: 9999;
}

nav .nav-list .nav-link a {
  line-height: 3rem;
  color: white;
  padding: 0 1rem;
  letter-spacing: 1px;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .nav-list .nav-link a i {
  margin-left: .2rem;
}

nav .nav-list .nav-link a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  /*Efeito de expansão*/
}

nav .nav-list .nav-link .dropdown {
  position: absolute;
  top: 112%;
  left: 0;
  width: 10rem;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
  list-style: none;
  z-index: 9999;
}

nav .nav-list .nav-link .dropdown ul {
  position: relative;
}

nav .nav-list .nav-link .dropdown ul .arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

nav .nav-list .nav-link .dropdown .dropdown-link {
  position: relative;
  /*input[type=button]*/
}

nav .nav-list .nav-link .dropdown .dropdown-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  color: #2E4242;
  padding: .5rem 1rem;
  font-size: .9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .3s;
  transition: .3s;
}

nav .nav-list .nav-link .dropdown .dropdown-link .link-icon {
  padding-left: -30px;
  color: #2E4242;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

nav .nav-list .nav-link .dropdown .dropdown-link .link-icon i {
  margin-right: 5px;
  color: #2E4242;
}

nav .nav-list .nav-link .dropdown .dropdown-link .link-icon:hover {
  color: white;
}

nav .nav-list .nav-link .dropdown .dropdown-link .link-icon:hover i {
  color: white;
}

nav .nav-list .nav-link .dropdown .dropdown-link #icon-login {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  margin-right: 10px;
}

nav .nav-list .nav-link .dropdown .dropdown-link button {
  width: 100%;
  height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#137B7B), to(#00A3A3));
  background-image: linear-gradient(to right, #137B7B, #00A3A3);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .nav-list .nav-link .dropdown .dropdown-link #login:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(whitesmoke), to(white));
  background-image: linear-gradient(to right, whitesmoke, white);
  color: darkgreen;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .nav-list .nav-link .dropdown .dropdown-link #login:hover #icon-login {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  margin-right: 10px;
  color: darkgreen;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .nav-list .nav-link .dropdown .dropdown-link:first-child:hover ~ .arrow {
  background-color: #2A2F2E;
}

nav .nav-list .nav-link .dropdown .dropdown-link:hover a {
  background-color: #2A2F2E;
  color: white;
}

nav .nav-list .nav-link .dropdown .dropdown-link:hover .dropdown {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

nav .nav-list .nav-link .dropdown .dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid whitesmoke;
}

nav .nav-list .nav-link:hover > .dropdown {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

nav .profile {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .profile img {
  height: 4.5vh;
  border-radius: 50%;
  cursor: pointer;
}

nav .hamburger-menu-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .hamburger-menu-container .hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .hamburger-menu-container .hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: white;
  position: relative;
  z-index: 1001;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .hamburger-menu-container .hamburger-menu div:before,
nav .hamburger-menu-container .hamburger-menu div:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: white;
  border-radius: 3px;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .hamburger-menu-container .hamburger-menu div:before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

nav .hamburger-menu-container .hamburger-menu div:after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

nav #check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

nav #check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

nav #check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

@-webkit-keyframes animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #check {
    display: block;
  }
  .nav-list {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #69bde7;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .65s;
    transition: .65s;
  }
  .nav-list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-list ul .nav-link {
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  .nav-list ul .nav-link a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }
  .nav-list ul .nav-link a i {
    font-size: 1.1rem;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: .7s;
    transition: .7s;
  }
  .nav-list ul .nav-link .dropdown {
    position: initial;
    top: initial;
    left: initial;
    -webkit-transform: initial;
            transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #3183ac;
    display: none;
  }
  .nav-list ul .nav-link .dropdown .dropdown-link > a {
    background-color: transparent;
    color: white;
    padding: 1.2rem 2rem;
    line-height: 1;
  }
  .nav-list ul .nav-link .dropdown .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }
  .nav-list ul .nav-link .dropdown .arrow {
    z-index: 1;
    background-color: #69bde7;
    left: 100%;
    -webkit-transform: scale(1.1) rotate(45deg);
            transform: scale(1.1) rotate(45deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .nav-list ul .nav-link .dropdown .dropdown-link:hover > a {
    background-color: #3a91bd;
  }
  .nav-list ul .nav-link .dropdown .dropdown-link:first-child:hover ~ .arrow {
    background-color: #50a9d6;
  }
  .nav-list ul .nav-link .dropdown i {
    font-size: 1rem;
    -webkit-transition: .7s;
    transition: .7s;
  }
  .nav-list ul .nav-link:hover > a {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #50a9d6;
  }
  .nav-list ul .nav-link:hover > .dropdown,
  .nav-list ul .dropdown-link:hover > .dropdown {
    display: block;
  }
  .nav-list ul .nav-link:hover > a > i,
  .nav-list ul .dropdown-link:hover > a > i {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .nav-list ul .nav-link:hover .arrow {
    background-color: #50a9d6;
  }
  #check:checked ~ .nav-list {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #check:checked ~ .nav-list .nav-link {
    -webkit-animation: animation 0.5s ease forwards var(--i);
            animation: animation 0.5s ease forwards var(--i);
  }
}

/*
header{
    position: sticky;
    top: 0;
    background-color: $secondary-color;
    width: 100%;
    z-index: 1000;
    height: 10vh;
}*/
/*
main{
    background-color: $primary-color;
    height: 92vh;
}*/
/*# sourceMappingURL=nav.css.map */