@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #2E4242;
  height: 100vh;
}
body .box {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
body .box .slide-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: -100rem;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}
body .box .slide-wrapper .slide-nav-button {
  position: absolute;
  color: #fff;
  cursor: pointer;
  background: transparent;
  margin-top: -38rem;
  font-size: 46px;
  z-index: 1;
}
body .box .slide-wrapper .slide-nav-previous {
  left: 20px;
}
body .box .slide-wrapper .slide-nav-next {
  right: 20px;
}
body .box .slide-wrapper .slide-list {
  display: flex;
}
body .box .slide-wrapper .slide-list .slide-item {
  flex-shrink: 0;
  margin: 0 5px;
  width: 70vw;
  cursor: -webkit-grab;
  cursor: grab;
}
body .box .slide-wrapper .slide-list .slide-item .slide-content {
  border: 1px solid #fff;
  box-shadow: #070707 0px 12px 12px;
  position: relative;
  border-radius: 10px;
  /*TAMANHO DAS IMAGENS */
}
body .box .slide-wrapper .slide-list .slide-item .slide-content img {
  width: 100%;
  border-radius: 10px;
}
body .box .slide-wrapper .slide-list .slide-item .slide-content .slide-description {
  background: linear-gradient(to top, #000, transparent);
  position: absolute;
  padding: 30px;
  bottom: 0;
  color: #fff;
  width: 100%;
  border-radius: 10px;
}
body .box .slide-wrapper .slide-list .slide-item .slide-content .slide-description h3 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  position: relative;
  top: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
body .box .slide-wrapper .slide-list .slide-item .slide-content .slide-description p {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  text-transform: none;
}
body .box .slide-wrapper .slide-controls {
  margin: 30px auto 0;
  margin: 0 auto;
  padding-top: 2rem;
}
body .box .slide-wrapper .slide-controls .slide-control-button {
  color: #fff;
  cursor: pointer;
  background: transparent;
  font-size: 20px;
  margin: 0 3px;
}
body .box .slide-wrapper .slide-controls .slide-control-button.active {
  color: aqua;
}
body .box .slide-wrapper .heading {
  display: flex;
  width: 80%;
  margin-top: 0.7rem;
  height: 60px;
  border-radius: 5px;
  align-items: center;
  margin-inline: auto;
  justify-content: space-between;
  background: #1f1f1f;
  border: 1px solid rgba(250, 253, 255, 0.0509803922);
}
body .box .slide-wrapper .heading .heading-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-left: 0.3rem;
  font-weight: bold;
}
body .box .slide-wrapper .heading .swiper-btn {
  display: flex;
  margin-right: 2.5rem;
}
body .box .slide-wrapper .heading .swiper-btn .swiper-button-next {
  margin-top: -6rem;
}
body .box .slide-wrapper .heading .swiper-btn .swiper-button-prev {
  margin-top: -6rem;
}
body .box .slide-wrapper .heading .swiper-btn .swiper-button-next,
body .box .slide-wrapper .heading .swiper-btn .swiper-button-prev {
  position: static !important;
  margin: 0 0 0 10px !important;
}
body .box .slide-wrapper .heading .swiper-btn .swiper-button-next::after,
body .box .slide-wrapper .heading .swiper-btn .swiper-button-prev::after {
  color: #fff;
  font-size: 26px !important;
  font-weight: 700;
}
body .box .slide-wrapper .popular-content {
  width: 80%;
  align-content: center;
}
body .box .slide-wrapper .popular-content .swiper-wrapper {
  padding: 5px;
}
body .box .slide-wrapper .popular-content .swiper-wrapper .swiper-slide {
  padding: 10px;
}
body .box .slide-wrapper .popular-content .swiper-wrapper .swiper-slide .movie-box {
  position: relative;
  width: 100%;
  box-shadow: #0f1119 0rem 2rem 2rem -1rem;
  margin-top: -2rem;
  overflow: hidden;
}
body .box .slide-wrapper .popular-content .swiper-wrapper .swiper-slide .movie-box .movie-box-img {
  width: 100%;
  height: auto;
  border: #242b2b solid;
  border-radius: 7px;
  margin-top: 2.5rem;
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
}
body .box .slide-wrapper .popular-content .swiper-wrapper .swiper-slide .movie-box:hover {
  transform: scale(1.05);
  border-radius: 10px;
}
body .box .slide-wrapper .popular-content .swiper-wrapper .swiper-slide .movie-box::before {
  border: 0.4rem solid rgba(255, 255, 255, 0);
  border-radius: 0.3rem;
  content: "";
  position: absolute;
  inset: 0;
  transition: border 0.3s;
  margin-top: 35px;
}
body .box .slide-wrapper .popular-content .swiper-wrapper .swiper-slide .movie-box:hover::before {
  border-color: rgba(255, 255, 255, 0.7);
  margin-top: 37px;
}

@media screen and (max-width: 1168px) {
  .slide-description h3 {
    font-size: 24px;
    top: 0;
  }
  .slide-description p {
    display: none;
  }
  .slide-description {
    padding: 10px;
  }
  .slide-item {
    flex-shrink: 0;
    margin: 0 3px;
    width: 70vw;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .slide-control-button {
    font-size: 14px;
  }
  .slide-controls {
    justify-content: center;
  }
  .slide-nav-button {
    margin-top: -22rem;
    font-size: 28px;
  }
  .slide-nav-previous {
    left: 10px;
  }
  .slide-nav-next {
    right: 10px;
  }
}
@media (max-width: 771px) {
  .heading {
    height: 35px;
  }
  .heading-title {
    font-size: 15px;
  }
  .swiper-button-next::after,
.swiper-button-prev::after {
    color: #fff;
    font-size: 15px !important;
    font-weight: 700;
  }
  .swiper-btn {
    display: flex;
    margin-left: 8.5rem;
  }
  .movie-box-img {
    margin-top: 2.1rem;
  }
}/*# sourceMappingURL=estilo.css.map */