@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
$primary-color: #2E4242;
$secondary-color: #2A2F2E;
$color1-btn: #137B7B;
$color2-btn: #00A3A3;
$color-details: #03f484;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', Arial, sans-serif;
    text-transform: none;
    font-weight: normal;
}

main{
    position: relative;
    display: flex;

    .categ{
        
    }    

    .catalog{

    }
}