@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  text-transform: none;
  font-weight: normal;
}

main {
  width: 100%;
  background-color: #2E4242;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .categ {
  width: 20%;
  position: sticky;
  background-color: #2E4242;
}
main .categ .category > h2,
main .categ .age > h2,
main .categ .indies > h2,
main .categ .favorites > h2,
main .categ .dev-mode > h2 {
  text-align: center;
  text-transform: none;
  margin-bottom: 10px;
  background-color: #000;
  border-radius: 15px 15px 0 0;
  padding: 0.5vw 0;
  font-size: 1.1em;
}
main .categ .category, main .categ .age, main .categ .indies,
main .categ .favorites, main .categ .dev-mode {
  margin: 10px;
  background-color: darkslategrey;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-bottom: 0.5vw;
}
main .categ .category form, main .categ .age form, main .categ .indies form,
main .categ .favorites form, main .categ .dev-mode form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.4vw;
}
main .categ .category form a, main .categ .age form a, main .categ .indies form a,
main .categ .favorites form a, main .categ .dev-mode form a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  width: 8vw;
  font-size: 0.8em;
  padding: 0.5vw;
  background-color: #137B7B;
  margin: 0.253vw;
  border-radius: 10px;
}
main .categ .category form a:hover, main .categ .age form a:hover, main .categ .indies form a:hover,
main .categ .favorites form a:hover, main .categ .dev-mode form a:hover {
  background-color: #00A3A3;
}
main .catalog {
  width: 80%;
  background-color: #2E4242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
main .catalog .game {
  width: 200px;
  height: 333px;
  background-color: black;
  margin: 10px;
  border-radius: 10px;
  outline: 3px solid black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
main .catalog .game .capa {
  height: 80%;
  width: 100%;
}
main .catalog .game .capa img {
  height: 100%;
  border-radius: 8px 8px 0 0;
}
main .catalog .game .name-game {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}
main .catalog .game .name-game h3 {
  font-size: 1.1em;
  /*
  word-wrap: break-word !important;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;*/
}
main .catalog .game:hover {
  outline: 3px solid #03f484;
}/*# sourceMappingURL=filter.css.map */