@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
$primary-color: #2E4242;
$secondary-color: #2A2F2E;
$terciary-color: #3c4643;
$color1-btn: #137B7B;
$color2-btn: #00A3A3;
$color-details: #03f484;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
    font-family: 'Poppins', Arial, sans-serif;
}


main{
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;

    .historic{
        background-color: red;
        display: flex;

        .game{
            img{
                width: 600px;
            }
        }
    }
}