@charset "UTF-8";
/*Escrever o CSS normal aqui, que irá compilar para o CSS sozinho*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
* {
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2E4242;
  height: 100vh;
}
main .login {
  background-color: #2A2F2E;
  border-radius: 10px;
  width: 400px;
  padding: 40px;
}
main .login h2 {
  margin-bottom: 30px;
  font-size: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
}
main .login .box-user {
  position: relative;
}
main .login .box-user input {
  width: 100%;
  padding: 10px 0;
  outline: none;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
}
main .login .box-user label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0;
  color: white;
  font-size: 16px;
  pointer-events: none; /*Indicando campo diitável*/
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
main .login .box-user input:focus ~ label,
main .login .box-user input:valid ~ label { /*imput focado, label muda*/
  top: -25px;
  left: 0;
  color: #03f484;
  font-size: 12px;
}
main .login .box-user input:-webkit-autofill,
main .login .box-user input:-webkit-autofill:hover,
main .login .box-user input:-webkit-autofill:focus,
main .login .box-user input:-webkit-autofill:active {
  -webkit-text-fill-color: rgba(255, 255, 255, 0) tant;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
main .login .box-user input:-webkit-autofill:valid {
  -webkit-text-fill-color: #ffffff !important;
  /*Tava deixando bg do input branco meio transparente*/
}
main .login .connected-remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .login .connected-remember .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 14px;
  /*
  input[type=checkbox]{
      border: 1px solid #03f484;
  }
  input[type=checkbox]:checked{
      background-color: darkgreen;
  }*/
  /*
  input:checked~.checkmark{
      background-color: #006400;
  }*/
  /*
  #connected:checked + .checkmark:after{
      content: "\f00c";
      background: darkgreen;
  }*/
}
main .login .connected-remember .check label {
  color: #03f484;
  margin-left: 5px;
}
main .login .connected-remember .check input[type=checkbox] {
  accent-color: darkgreen;
}
main .login .connected-remember .new-senha a {
  font-size: 14px;
  color: #03f484;
  /*display:flex e justify-content: ;: flex-end ou*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  /*float: right; Sem o check funciona*/
  text-decoration: none;
}
main .login .login-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
main .login .login-sign #btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#137B7B), to(#00A3A3));
  background-image: linear-gradient(to right, #137B7B, #00A3A3);
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}
main .login .login-sign #btn:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#179494), to(#01cccc));
  background-image: linear-gradient(to right, #179494, #01cccc);
  width: 300px;
  height: 60px;
}
main .login .login-sign #sign-in {
  margin-top: 15px;
  font-size: 13px;
}
main .login .login-sign #sign-in a {
  text-decoration: none;
  font-weight: bold;
}
main .login .login-sign #sign-in a:hover {
  text-decoration: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.774);
}

@media (max-width: 405px) {
  .login {
    width: 90%;
  }
}
/*
input#btn{
    background-image: linear-gradient(to right,  #137B7B, #00A3A3);
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 10px;
}*//*# sourceMappingURL=login.css.map */