@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
$primary-color: #2E4242;
$secondary-color: #2A2F2E;
$terciary-color: #3c4643;
$color1-btn: #137B7B;
$color2-btn: #00A3A3;
$color-details: #03f484;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
    font-family: 'Poppins', Arial, sans-serif;
}

body{
    background-color: $primary-color;
}

.profile{
    display: flex;
    flex-direction: row;
    margin: 80px;
     
    .container-infos{
        width: 20%;
        background-color: #00A3A3;
        padding: 30px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 90%;
            border-radius: 50%;
        }

        h3{

        }

        .type-user{
            h5{

            }
        }

        hr{
            width: 100%;
            margin: 20px 0;
        }

        .infos{
            background-color: #2E4242;
            width: 100%;

             .info-user{
                 display: flex;
                 height: 50px;

                .icon-user{
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid white;
                    border-radius: 40%;
                    margin-right: 10px;

                    i{
                        font-size: 1.5em;
                    }
                }

                .dados{
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;

                    .type-dados{
                        font-size: 20px;
                        
                    }
                    .info-dados{
                        input{
                            color: #fff;
                            background-color: $primary-color;
                            outline: none;
                            border: none;
                        }
                    }
                }
             }
        }
    }

    .container-profile{
        width: 80%;
        background-color: darkgreen;
        margin-left: 20px;

    }
}